$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower
body {
        padding:0px; margin:0px; border:0px;
        background:#fff;
        overflow: auto;

    }

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
.modal-backdrop {
  bottom: 0;
  position: fixed;
}
.close_model{
 position: absolute;
 top: 0;
 right: 0;
 a{
  margin-right: 7px;
  color: #aaa;
  margin-top: 5px;
  font-size:18px;
  text-decoration:none;
 }
}
@media screen and (min-width: 768px){
.container {
  max-width: 1200px !important;
}
}
.switch {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 56px;
  height: 20px;
  padding: 3px;
  background-color: white;
  border-radius: 18px;
  cursor: pointer;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.switch-input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
.switch-label {
  position: relative;
  display: block;
  height: inherit;
  font-size: 9px;
  text-transform: uppercase;
  background: #f9f9f9;
  border-radius: inherit;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.15);
  -webkit-transition: 0.15s ease-out;
  -moz-transition: 0.15s ease-out;
  -o-transition: 0.15s ease-out;
  transition: 0.15s ease-out;
  -webkit-transition-property: opacity background;
  -moz-transition-property: opacity background;
  -o-transition-property: opacity background;
  transition-property: opacity background;
}
.switch-label:before,
.switch-label:after {
  position: absolute;
  top: 50%;
  margin-top: -0.5em;
  line-height: 1;
  -webkit-transition: inherit;
  -moz-transition: inherit;
  -o-transition: inherit;
  transition: inherit;
}
.switch-label:before {
  content: attr(data-off);
  right: 11px;
  color: #aaa;
  text-shadow: 0 1px rgba(255, 255, 255, 0.5);
}
.switch-label:after {
  content: attr(data-on);
  left: 11px;
  color: white;
  text-shadow: 0 1px rgba(0, 0, 0, 0.2);
  opacity: 0;
}
.switch-input:checked ~ .switch-label {
  background: #c7cbd5;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), inset 0 0 3px rgba(0, 0, 0, 0.2);
}
.switch-input:checked ~ .switch-label:before {
  opacity: 0;
}
.switch-input:checked ~ .switch-label:after {
  opacity: 1;
}
.switch-handle {
  position: absolute;
  top: 4px;
  left: 4px;
  width: 18px;
  height: 18px;
  background: white;
  border-radius: 10px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  background-image: -webkit-linear-gradient(top, #ffffff 40%, #f0f0f0);
  background-image: -moz-linear-gradient(top, #ffffff 40%, #f0f0f0);
  background-image: -o-linear-gradient(top, #ffffff 40%, #f0f0f0);
  background-image: linear-gradient(to bottom, #ffffff 40%, #f0f0f0);
  -webkit-transition: left 0.15s ease-out;
  -moz-transition: left 0.15s ease-out;
  -o-transition: left 0.15s ease-out;
  transition: left 0.15s ease-out;
}
.switch-handle:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -6px 0 0 -6px;
  width: 12px;
  height: 12px;
  background: #f9f9f9;
  border-radius: 6px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.02);
  background-image: -webkit-linear-gradient(top, #eeeeee, #ffffff);
  background-image: -moz-linear-gradient(top, #eeeeee, #ffffff);
  background-image: -o-linear-gradient(top, #eeeeee, #ffffff);
  background-image: linear-gradient(to bottom, #eeeeee, #ffffff);
}
.switch-input:checked ~ .switch-handle {
  left: 40px;
  box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.2);
}
.switch-primary > .switch-input:checked ~ .switch-label {
  background: #36a9e1;
}
.switch-success > .switch-input:checked ~ .switch-label {
  background: #78CC7D;
}


/* Space out content a bit */

.table>tbody>tr>td{
  border-top :none;
  border-bottom :none;
 }
.table > tbody + tbody{
  border-top : none;
 }
.table-bordered>thead>tr>th {
  border-bottom-width: 0px;
}
.table{
  .header{
    // background: #39B449;
    background: #8CD490;
    color: #fff;
    text-align:left;
    margin-left:15px;
  }

  .odd{
    background-color: #FFF;
  }
  .even {
    background-color: #ECF7EC;
  }
  .main-row{
    font-size: 13px;
    
  }
}

.ng-isolate-scope{
  text-align: center;
  .ng-table-counts{
    display: none;
  }
  ul.pagination{
    margin: 0;
    li{
      border: none;
      a{
        border : none;
      }
    }
  }
}
.table > tbody + tbody{
  border-top : none;
}
.pagination > .active > a{
  background-color: #fff;
  border: none;
  color : #337ab7;
  font-weight : 600;
  cursor: pointer;
}
.pagination.active{
  a:hover{
    background-color: #fff;
    border-color: none;
    color : #337ab7;
    font-weight : 600;
    cursor: pointer;
  }
}

.table-condensed > tbody > tr > td {
      padding: 7px !important;
    }
/* Custom page header */
.header-logo {
  background : #fff;
  padding-top:5px;
  padding-bottom: 5px;
  border-bottom: 1.1px solid #e7e7e7;
  box-shadow: 0 1px 4px rgba(0,0,0,0.12);
  position:fixed;
  width:100%;
  z-index:999;
  a{
    color:#303030;
  }
  .product{
    position: relative;
    top: 4px;
    font-size: 18px;
    color: #000;
    font-weight: 600;
    font-family: lato;
    // text-shadow: 2px 2px #202020;
  }

  /* Make the masthead heading the same height as the navigation */
  #logo-desktop{
    height: 30px;
    vertical-align: top;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}
.home{
   .side-pannel{
     border: 1px solid #ccc;
     padding:0px;
     margin-bottom: 10px;
     ul{
      padding-left:0px;
      margin-bottom:0px;
      a{
        text-decoration: none; 
        li:hover{
          background:#eee;
        }
      li{
        list-style : none;
        padding:10px;
        color:#000;
      }
      }
     }
     a.active{
      li{
        background: #eee;
      }
     }
   }
   .main-content{
    
     .heading, .docker-content{
       input[type="button"]{
         background: #444;
         color: #fff;
         float: right;
         margin-top: 20px;
         border: none;
         padding: 7px 10px 7px 10px;
       }
       .main-row{
        cursor: pointer;
       }
     }
   }
}
