<div class="row" style="margin-top: 20px;">
	<div class="col-md-3 col-md-offset-1" style="border:1px solid #eee;height:200px;padding:0">
      <div style="text-align:center;margin-top:18px">
	    <b style="font-size: 73px;color:#606060">{{dockerImages.length}}</b>
	  </div>
	  <div class="action_view" style="position: absolute; bottom: 0; width: 100%; height: 50px; background-image: -webkit-linear-gradient(top, #ccc 0%,#3f3f3f 100%);background-image: -moz-linear-gradient(top, #ccc 0%,#3f3f3f 100%);padding:12px">
        <div style="text-align:center;color:#f5f5f5;font-weight:bold">Images</div>
  	  </div>
	</div>
	<div class="col-md-3 col-md-offset-1" style="border:1px solid #eee;height:200px;padding:0">
      <div style="text-align:center;margin-top:18px">
	    <b style="font-size: 73px;color:#606060">{{runningContainers.length}}</b>
	  </div>
	  <div class="action_view" style="position: absolute; bottom: 0; width: 100%; height: 50px; background-image: -webkit-linear-gradient(top, #ccc 0%,#3f3f3f 100%);background-image: -moz-linear-gradient(top, #ccc 0%,#3f3f3f 100%);padding:12px">
        <div style="text-align:center;color:#f5f5f5;font-weight:bold">Running Containers</div>
  	  </div>
	</div>

	<div class="col-md-3 col-md-offset-1" style="border:1px solid #eee;height:200px;padding:0">
      <div style="text-align:center;margin-top:18px">
	    <b style="font-size: 73px;color:#606060">{{stoppedContainer.length}}</b>
	  </div>
	  <div class="action_view" style="position: absolute; bottom: 0; width: 100%; height: 50px; background-image: -webkit-linear-gradient(top, #ccc 0%,#3f3f3f 100%);background-image: -moz-linear-gradient(top, #ccc 0%,#3f3f3f 100%);padding:12px">
        <div style="text-align:center;color:#f5f5f5;font-weight:bold">Stopped Containers</div>
  	  </div>
	</div>
</div>